@import 'tailwindcss';

@theme {
  --color-primary: #90006c;
  --color-secondary: #fe00be;
  --breakpoint-xs: 380px;
}

.font-geist {
  font-family: var(--font-geist-sans);
}

.font-playfair {
  font-family: var(--font-playfair-display);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-geist-sans);
}

.section {
  transition: all 0.3s ease;
  background-color: lightgray;
  margin: 1rem;
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff !important;
}
